numpy
requests
transformers
scikit_learn
spacy==3.7.5
beautifulsoup4
gensim
matplotlib
pandas
opencv_python
nltk
tqdm
faiss-cpu
Unidecode
protobuf
OpenAttack
accelerate
bitsandbytes
langdetect
deep-translator
gdown
tldextract