authres
beautifulsoup4
chardet
evaluate
Faker
gensim
matplotlib
nltk
numpy
openai
opencv_python
pandas
peft
Pillow
Pillow
protobuf
Requests
scikit_learn
selenium==4.22.0
selenium_wire==5.1.0
webdriver_manager==4.0.1
seqeval
spacy==3.7.5
tiktoken
tldextract
tqdm
transformers
trl
Unidecode
