numpy
requests
tensorflow-cpu==2.13.1
transformers
scikit_learn
spacy==3.7.5
beautifulsoup4
gensim
matplotlib
pandas
opencv_python
nltk
tqdm
faiss-cpu
Unidecode
protobuf
OpenAttack
accelerate
bitsandbytes
langdetect
deep-translator
gdown
tldextract
xgboost
mlxtend
imgkit
pdf2image
git+https://github.com/akhilnarang/python-pdfkit.git@add-timeout-option